{% extends 'navbar.html' %}
{% block content %}
    <h1>Profile</h1>
    <p>
        <img src="/media/ {{ user.profile.image }}" alt="">
    </p>
    <p>
        Welcome to your profile, {{ user.username }}
    </p>
    <p>
        {{ user.email }}
    </p>
    <p>
        {{ user.first_name }}, {{ user.last_name }}
    </p>
    <p>
        Age: {{ user.age }}
    </p>
    <p>
        Bio: {{ user.bio }}
    </p>
    
    
    <div class="card-container">
  {% for task in tasks %}
    <div class="card border-info mb-4" style="max-width: 35rem; margin-right: 40px;">
      <div class="card-header">{{ task.status }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
        <p class="card-text">{{ task.description }}</p>
        <h6 class="card-text">{{ task.created_at }}</h6>  
        <a href="/tasks/{{ task.id }}" class="btn btn-primary">Info</a>
      </div>
    </div>
  {% endfor %}
</div>
<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: 50px;
  }

  .card {
    margin-bottom: 20px;
    flex: 0 0 calc(50% - 20px);
  }
</style>
    
    <p>
        <a href="/logout/">Logout</a>
    </p>
    
{% endblock %}